<script src="https://cdn.tailwindcss.com"></script>
<div class="cotainer">
    <div class="row">
        <div class="col text-center">
            <img
                src="img/foto1.png"
                alt="unpam"
                class="h-auto max-w-lg transition-all duration-300 rounded-base cursor-pointer filter grayscale hover:grayscale-0 mx-auto"
            />
            <h1 class="display4 font-bold text-5xl py-3">Agunnnnn</h1>
            <p class="lead">Informatic Engg | Students | At</p>
        </div>
    </div>
</div>
